@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task 10</title>
    <link href="~/css/web_pages.css" rel="stylesheet" />
</head>
<body>
    <div id="Menu">
        <div id="UserMenu">
            <div class="caption">User menu</div>
            <button type="submit" id="ShowAllUsers" class="ServerRequest">Show all users</button>
            <form action="#" id="AddUserForm">
                <button type="submit" class="ServerRequest" id="AddUser">Add user</button><br />
                &nbsp;id: <input type="number" class="UserId" />
                name: <input type="text" class="UserName" />
                date (dd.mm.yyyy): <input type="text" class="UserBirthDate" />
            </form>
            <form action="#" id="DeleteUserForm">
                <button type="submit" class="ServerRequest" id="DeleteUser">Delete user</button><br />
                &nbsp;id: <input type="number" class="UserId" />
            </form>
            <form action="#" id="ChangeUserForm">
                <button type="submit" class="ServerRequest" id="ChangeUser">Change user</button><br />
                &nbsp;id: <input type="number" class="OldUserId" />
                <br />New User info<br />
                &nbsp;id: <input type="number" class="UserId" />
                name: <input type="text" class="UserName" />
                date (dd.mm.yyyy): <input type="text" class="UserBirthDate" />
            </form>
        </div>
        <div id="AwardMenu">
            <div class="caption">Award menu</div>
            <button type="submit" id="ShowAllAwards" class="ServerRequest">Show all awards</button><br />
            <button type="submit" id="ShowAllAwardsAndUsers" class="ServerRequest">Show all awards and users</button>
            <form id="AddAwardForm" action="#">
                <button type="submit" id="AddAward" class="ServerRequest">Add award</button><br />
                &nbsp;id: <input type="number" class="AwardId" />
                title: <input type="text" class="AwardTitle" />
            </form>
            <form id="DeleteAwardForm" action="#">
                <button type="submit" id="DeleteAward" class="ServerRequest">Delete award</button><br />
                &nbsp;id: <input type="number" class="AwardId" />
            </form>
            <form id="AddAwardToUserForm" action="#">
                <button type="submit" id="AddAwardToUser" class="ServerRequest">Add award to user</button><br />
                &nbsp;id (award): <input type="number" class="AwardId" />
                id (user): <input type="number" class="UserId" />
            </form>
            <form id="DeleteUserAwardForm" action="#">
                <button type="submit" id="DeleteUserAward" class="ServerRequest">Delete a user award</button><br />
                &nbsp;id (award): <input type="number" class="AwardId" />
                id (user): <input type="number" class="UserId" />
            </form>
            <form id="ChangeAwardForm" action="#">
                <button type="submit" id="ChangeAward" class="ServerRequest">Change award</button><br />
                &nbsp;id: <input type="number" class="OldAwardId" />
                <br />New award<br />
                &nbsp;id: <input type="number" class="AwardId" />
                title: <input type="text" class="AwardTitle" />
            </form>
            <form id="ChangeUserAwardForm" action="#">
                <button type="submit" id="ChangeUserAward" class="ServerRequest">Change user award</button><br />
                &nbsp;id(award): <input type="number" class="OldAwardId" />
                id(user): <input type="number" class="OldUserId" />
                <br />New user award<br />
                &nbsp;id(award): <input type="number" class="AwardId" />
                id(user): <input type="text" class="UserId" />
            </form>
            <form id="DeleteUserAwardForm_v2" action="#">
                <button type="submit" id="DeleteUserAward_v2" class="ServerRequest">Delete a user award</button>(for task 10.2)<br />
                &nbsp;id (award): <input type="number" class="AwardId" />
                id (user): <input type="number" class="UserId" />
            </form>

        </div>
    </div>

    <div id="Output">
        Result
    </div>
    
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/WorkWithServer.js"></script>
</body>
</html>
